:root { --background-color: hsl(208, 100%, 97%); }

@font-face { font-family: 'Samo Sans'; src: url("/assets/fonts/Samo Sans - Regular.woff"); }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Samo Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

.hero, nav { background-color: var(--background-color); }

nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 80px; height: 103px; height: 50px; }

nav #brand { display: -webkit-box; display: -ms-flexbox; display: flex; font-weight: bold; }

nav #brand p { padding: 0 14px; }

nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

nav ul li { list-style: none; padding: 0 14px; color: #4D5E70; }

nav .cta button { border: none; font-weight: bold; }

nav .cta .login { background: none; margin-right: 14px; }

nav .cta .signup { background: #0480FC; color: white; height: 42px; width: 120px; border-radius: 4px; }

.hero { height: 120vh; display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; padding: 0 80px; padding-bottom: calc(20vh + 50px); }

.hero .usp header { font-size: 56px; color: #011A32; line-height: 120%; }

.hero .usp p { font-size: 20px; line-height: 140%; color: #4D5E70; padding-right: 48px; margin: 20px 0; }

.hero .usp .action { margin: 20px 0; }

.hero .usp .action button { font-weight: bold; border-radius: 4px; border: none; margin-right: 24px; height: 40px; width: 120px; }

.hero .usp .action .primary { background: #0480FC; color: white; }

.hero .usp .action .secondary { color: #0480FC; background: white; }

.hero .image-grid { display: -ms-grid; display: grid; height: 80vh; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; -ms-grid-rows: 1fr 1fr; grid-template-rows: 1fr 1fr; }

.hero .image-grid img { height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover; }

.hero .image-grid img:nth-of-type(1) { grid-row: span 2; padding: 0 8px 0 0; }

.hero .image-grid img:nth-of-type(2) { padding: 0 0 8px 8px; }

.hero .image-grid img:nth-of-type(3) { padding: 8px 0 0 8px; }

.offerings { height: 364px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; }

.offerings .offering-block { margin-top: -282px; background: #FFFFFF; border-radius: 4px; width: 40vw; display: -ms-grid; display: grid; -ms-grid-rows: 1fr auto 1fr; grid-template-rows: 1fr auto 1fr; position: relative; }

.offerings .offering-block .cheapest { position: absolute; background: #09CF70; color: white; top: 40%; left: -10px; padding: 2px 4px; font-size: 12px; }

.offerings .offering-block .cheapest svg { height: 12px; }

.offerings .offering-block div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 40px; }

.offerings .offering-block div p { display: -ms-grid; display: grid; justify-items: end; }

.offerings .offering-block div p span.green { color: #09CF70; font-weight: bold; }

.offerings .offering-block div p span.blue { color: #008BD9; font-weight: bold; }

.offerings .offering-block div:nth-of-type(2) { background: #008BD9; height: 150px; }

.offerings .offering-block:first-of-type { height: 360px; -webkit-box-shadow: -8px 0px 24px rgba(177, 176, 176, 0.25); box-shadow: -8px 0px 24px rgba(177, 176, 176, 0.25); }

.offerings .offering-block:last-of-type { height: 324px; -webkit-box-shadow: 0px 0px 24px rgba(196, 195, 195, 0.25); box-shadow: 0px 0px 24px rgba(196, 195, 195, 0.25); }
